

.card_container {
    border: 2px solid red;

    display: flex;

    /* flex-wrap: wrap-reverse; */

    /* justify-content: end; */
    

    /* flex-direction: row;
    flex-direction: column; */

    /* justify-content: start;
    justify-content: center;
    justify-content: end;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    align-items: start;
    align-items: center;
    align-items: end; */
}

.card {
    border: 2px solid black;
    padding: 1em;
    margin: 1em;

    width: 300px;

    text-align: justify;
}