* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 10px solid red;

    width: 50%;
    height: 100vh;


    position: relative;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    /* display: grid;
    place-items: center; */
}

.box {
    width: 50px;
    height: 50px;

    background: lime;

    position: fixed;
    bottom: 5%;
    right: 5%;


    /* position: absolute;
    right: 0;
    bottom: 0; */

    /* left: 100%;
    transform: translateX(-100%); */

    /* position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */

/* 
    position: static;
    position: relative;
    position: absolute;
    position: fixed;
    position: sticky;

    top: ;
    left: ;
    bottom: ;
    right: ;
    z-index: ; */
}

.navbar {
    min-height: 70px;
    background: rgba(255, 255, 255, 0.523);
    backdrop-filter: blur(5px);

    position: sticky;
    top: 0;
}