* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #3d7358;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2em;

    position: fixed;
    top: 0;
    width: 100%;

    background: transparent;

    font-size: 20px;
    font-style: italic;
}

.navbar p {
    font-size: 40px;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: #3d7358;
    padding: .5em 2em;
}

section.hero {
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.hero div:first-child {
    background: #000 url("https://images.unsplash.com/photo-1657598339759-fd1432d833f0?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdWRzJTIwaW4lMjBza3l8ZW58MHx8MHx8fDA%3D") no-repeat right/cover;

    display: grid;
    place-items: center;
}

.hero div:first-child img {
    height: 400px;
    min-width: 45%;

    object-fit: cover;
}

.hero div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    z-index: -1;

    padding: 2em;

    background: #DFFA95;
}

.hero div:last-child .name {
    /* text-grow: per-line scale;
    text-shrink: per-line scale; */
    font-size: 10em;
    text-transform: capitalize;
}

.hero div:last-child .meeting {
    position: absolute;
    bottom: 10%;

    width: 90%;

    border-bottom: 4px solid black;
    padding: 1em 0;
}


@media (max-width: 850px) {
    .navbar nav {
        display: none;
    }
    .hero div:last-child .name {
        font-size: 5em;
    }
}