

.container {
    border: 2px solid red;

    display: grid;
    grid-template-areas: 
        "box1 box2 box2 box3"
        "box1 box4 box5 box6"
        "box1 box7 box8 box8"
    ;
}

.box:first-child {
    grid-area: box1;
}

.box:nth-child(2) {
    grid-area: box2;
}

.box:nth-child(6) {
    grid-area: box6;
}

.box:last-child {
    grid-area: box8;
}

.box {
    border: 2px solid blue;
    min-height: 100px;
    margin: 1em;
}

