

.container {
    border: 2px solid red;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
}

.box {
    border: 2px solid blue;
    min-height: 100px;
    margin: 1em;
    /* width: 100px; */
}

.container .box:first-child {
    background: lime;

    /* grid-column-start: 1;
    grid-column-end: 3; */

    grid-column: 1 / 3;

    /* grid-row-start: 1;
    grid-row-end: 5; */

    grid-row: 1 / 4;
}

/* .container .box:nth-child(:not(2)) {
    background: lime;
} */

