@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');



h1 {
    /* text-shadow: 0 0 5px blue; */

    font-family: "Playwrite NO", cursive;

    
    font-family: serif;
    font-family: sans-serif;
    font-family: cursive;
    font-family: monospace;
    font-family: system-ui;
    font-family: fantasy;

    font-family: chiller, cursive;

}



.box {
    /* border: 10px solid gray; */

    background: #000;

    width: 200px;
    height: 200px;


    /* box-shadow: 0 0 100px 20px #f00; */
}